-> to add delete button on info page [done]
-> add text on HomePage for empty Workout[done]
-> Time Resume Button not coming
-> Beautify UI 
-> Write sets function [done]
-> solve double type sets not inserting [done]
